.body {
	width: 100%;
	background-color: #414040;
	padding-bottom: 100px;
	box-sizing: border-box;

	.body-detail,
	.body-content {
		width: 100%;
		max-width: 1200px;
		background-color: rgba(15, 15, 15, 0.95);
		min-height: calc(100vh - 160px);
		margin: 0 auto;
		box-shadow: 0 10px 25px -7px rgba(0, 0, 0, 0.7);
		border-radius: 0 0 5px 5px;
		box-sizing: border-box;
	}

	.body-content {
		padding: 35px 50px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.body-content-list {
			margin-bottom: 40px;

			.view-group {
				display: flex;
				margin-bottom: 40px;

				div {
					width: 40px;
					height: 40px;
					border-radius: 5px;
					cursor: pointer;
					background-color: white;
					transition: 0.1s;
					display: flex;
					justify-content: center;
					align-items: center;

					img {
						width: 25px;
						height: 25px;
					}

					&:hover,
					&.active {
						background-color: #269af8;
					}
				}
				div:first-child {
					margin-right: 10px;
				}
			}

			.movie-group {
				&.list-group {
					.movie-item {
						display: flex;
						border: 1px solid gray;
						border-radius: 5px;
						padding: 10px;
						box-sizing: border-box;

						img {
							height: 250px;
							margin-bottom: 0;
							object-fit: fill;
							width: 40%;
							margin-right: 20px;
						}

						.movie-content {
							padding: 25px 0;
							box-sizing: border-box;

							.movie-name {
								color: gray;
							}

							.movie-overview {
								display: -webkit-box;
							}

							.overview-skeleton {
								display: block;
							}
						}

						&:hover {
							border: 1px solid #92daf4;
						}
					}

					.movie-item:not(:last-child) {
						margin-bottom: 35px;
					}
				}

				&.grid-group {
					display: grid;
					grid-template-columns: repeat(5, 1fr);
					grid-gap: 35px;

					.movie-item {
						min-width: 100%;

						img {
							height: 200px;
							object-fit: cover;
						}
					}
				}
			}

			.empty {
				color: red;
				font-size: 20px;
			}
		}
	}

	.body-detail {
		display: flex;
		flex-direction: column;

		.detail-banner {
			width: 100%;
			height: 350px;
			object-fit: fill;
			animation: fade-in 2.5s linear 1;

			&:not(img[src]) {
				background-color: #dee6f7;
				animation: skeletionAnimation 1.5s linear infinite;
			}
		}

		.detail-content {
			flex-grow: 1;
			padding: 25px 25px 35px 25px;
			border-bottom: 1px solid gray;
			display: grid;
			grid-template-columns: 1fr 2.5fr;
			grid-gap: 20px;

			.detail-content-col-1 {
				.detail-poster {
					width: 100%;
					height: 300px;
					object-fit: fill;
					border-radius: 5px;
					margin-bottom: 10px;
					animation: fade-in 2.5s linear 1;

					&:not(img[src]) {
						background-color: #dee6f7;
						animation: skeletionAnimation 1.5s linear infinite;
					}
				}

				.detail-vote {
					width: 100%;
					padding: 15px;
					background-color: #e7b53a;
					text-align: center;
					box-sizing: border-box;
					color: white;
					border-radius: 5px;
					margin-bottom: 10px;
				}

				button {
					text-align: center;
					width: 100%;
					padding: 10px;
					cursor: pointer;
					background-color: #14bc71;
					border: none;
					border-radius: 5px;
				}

				.vote-skeleton,
				.button-skeleton {
					border-radius: 5px;
					background-color: #dee6f7;
					animation: skeletionAnimation 1.5s linear infinite;
				}

				.button-skeleton {
					height: 35px;
				}

				.vote-skeleton {
					height: 48px;
					margin-bottom: 10px;
				}
			}

			.detail-content-col-2 {
				.detail-title {
					color: white;
					font-size: 25px;
					margin-bottom: 10px;
				}

				.detail-date {
					color: white;
					font-size: 15px;
					margin-bottom: 20px;
				}

				.detail-money {
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-gap: 20px;
					margin-bottom: 30px;

					div {
						display: flex;

						p {
							color: orange;
						}

						p:first-child {
							margin-right: 10px;
						}
					}
				}

				.detail-genres {
					display: flex;
					flex-wrap: wrap;
					gap: 10px;
					margin-bottom: 20px;

					.genres-item {
						border-radius: 3px;
						cursor: pointer;
						border: 1px solid yellow;
						padding: 5px 7px;
						color: white;
					}
				}

				.detail-overview {
					color: white;
				}

				.title-skeleton,
				.date-skeleton,
				.money-skeleton,
				.genres-item-skeleton,
				.overview-skeleton {
					background-color: #dee6f7;
					animation: skeletionAnimation 1.5s linear infinite;
					border-radius: 3px;
				}

				.title-skeleton {
					height: 29px;
					width: 50%;
					margin-bottom: 10px;
				}

				.date-skeleton {
					height: 18px;
					width: 25%;
					margin-bottom: 20px;
				}

				.money-skeleton {
					height: 18px;
				}

				.genres-item-skeleton {
					height: 30px;
					width: 30%;
				}

				.overview-skeleton {
					height: 200px;
				}
			}
		}

		.detail-company {
			padding: 20px 25px;
			display: flex;
			flex-wrap: wrap;
			gap: 10px;

			.company-item {
				border-radius: 3px;
				cursor: pointer;
				border: 1px solid gray;
				padding: 5px 7px;
				color: white;
			}

			.company-item-skeleton {
				height: 30px;
				width: 20%;
				background-color: #dee6f7;
				animation: skeletionAnimation 1.5s linear infinite;
				border-radius: 2px;
			}
		}
	}
}

@media (max-width: 1000px) {
	.body {
		.body-content {
			.body-content-list {
				.movie-group {
					&.grid-group {
						grid-template-columns: repeat(4, 1fr);
					}
				}
			}
		}
	}
}

@media (max-width: 800px) {
	.body {
		.body-content {
			padding: 20px;

			.body-content-list {
				.movie-group {
					&.grid-group {
						grid-gap: 30px 20px;
						grid-template-columns: repeat(3, 1fr);
					}
				}
			}
		}

		.body-detail {
			.detail-content {
				padding: 20px;
				grid-template-columns: 1fr;
			}
		}
	}
}

@media (max-width: 600px) {
	.body {
		.body-content {
			.body-content-list {
				.movie-group {
					&.grid-group {
						grid-template-columns: repeat(2, 1fr);
					}
				}
			}
		}
	}
}

@media (max-width: 400px) {
	.body {
		.body-content {
			.body-content-list {
				.movie-group {
					&.grid-group {
						grid-template-columns: 1fr;
					}
				}
			}
		}
	}
}
