.error {
	position: absolute;
	max-width: 80%;
	width: max-content;
	padding: 20px;
	left: 50%;
	bottom: 100%;
	transform: translateX(-50%) translateY(0);
	transition: 0.5s;
	z-index: 10;
	background-color: orange;
	border-radius: 10px;
	color: red;

	&.active {
		transform: translateX(-50%) translateY(calc(100% + 30px));
	}
}
