.header {
	width: 100%;
	height: 60px;
	position: sticky;
	top: 0;
	text-align: center;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	background-color: #121212;
	z-index: 5;

	.header-content {
		width: 100%;
		height: 100%;
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-sizing: border-box;

		.header-nav {
			display: flex;
			height: 100%;
			margin-right: 20px;

			a {
				padding: 0 20px;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				color: white;
				cursor: pointer;
				background-color: transparent;
				transition: 0.1s;
				text-decoration: none;

				&.active {
					background-color: #92daf4;
					color: black;
				}
			}
		}
		.header-search {
			background-color: #323232;
			border-radius: 5px;
			display: flex;
			align-items: center;
			height: 40px;
			padding: 0 10px;
			max-width: 200px;

			svg {
				width: 20px;
				cursor: pointer;

				path {
					stroke: white;
					transition: 0.2s;
				}

				&:hover {
					path {
						stroke: blue;
					}
				}
			}

			input {
				background-color: transparent;
				border: none;
				outline: none;
				color: white;
				margin-right: 10px;
				flex-grow: 1;
			}
		}
	}
}

@media (max-width: 1200px) {
	.header {
		.header-content {
			padding: 0 50px;
		}
	}
}

@media (max-width: 800px) {
	.header {
		.header-content {
			padding: 0 20px;
		}
	}
}

@media (max-width: 500px) {
	.header {
		.header-content {
			.header-nav {
				a {
					padding: 0 10px;
					font-size: 12px;
				}
			}
		}
	}
}
