p,
ul {
	margin-block-start: 0px;
	margin-block-end: 0px;
	padding-inline-start: 0px;
}

.layout {
	height: 100vh;
	overflow: auto;

	&::-webkit-scrollbar {
		display: none;
	}
}
body {
	overflow: hidden;
}

@import "./pagination.scss";
@import "./error.scss";
@import "./header.scss";
@import "./body.scss";
@import "./movie-item.scss";
@import "./page-error.scss";
