.movie-item {
	width: 100%;
	cursor: pointer;
	position: relative;
	text-decoration: none;
	display: block;

	img {
		width: 100%;
		margin-bottom: 15px;
		display: block;
		border-radius: 5px;
		animation: fade-in 2.5s linear 1;
	}

	img:not(img[src]) {
		background-color: #dee6f7;
		animation: skeletionAnimation 1.5s linear infinite;
	}

	.movie-content {
		width: 100%;

		.movie-name {
			width: 100%;
			color: white;
			font-weight: 700;
			margin-bottom: 10px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		.movie-time {
			color: gray;
		}

		.movie-overview {
			color: white;
			margin-top: 15px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: none;
			-webkit-line-clamp: 4;
			line-clamp: 4;
			-webkit-box-orient: vertical;
		}

		.name-skeleton {
			width: 100%;
			height: 18px;
			margin-bottom: 10px;
			border-radius: 2px;
			animation: skeletionAnimation 1.5s linear infinite;
			background-color: #dee6f7;
		}

		.time-skeleton {
			width: 50%;
			height: 18px;
			border-radius: 2px;
			animation: skeletionAnimation 1.5s linear infinite;
			background-color: #dee6f7;
		}

		.overview-skeleton {
			width: 100%;
			height: 36px;
			border-radius: 2px;
			animation: skeletionAnimation 1.5s linear infinite;
			background-color: #dee6f7;
			margin-top: 15px;
			display: none;
		}
	}

	&.disabled {
		pointer-events: none;
	}

	&:hover {
		.movie-name {
			color: #92daf4 !important;
		}
	}
}

@keyframes skeletionAnimation {
	0%,
	100% {
		opacity: 0.5;
	}
	50% {
		opacity: 0.9;
	}
}

@keyframes fade-in {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}
